.toolbar{
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    height: 100vh;
    width: 50vw;

    section {
      height: 50vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;

      label {
        font-size: 30px;
      }

      .from-to-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 50%;
        width: 100%;
        position: relative;



        select {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-image: url("../../images/arrow.png");
          background-position: 98% center;
          background-size: 20%;
          background-repeat: no-repeat;
          outline: none;
          border: none;
          color: white;
          cursor: pointer;
          /* the following rules can be modified as you wish */
          background-color: #3d3d74;
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          font-size: 16px;
          padding: 8px 12px;
          height: 50px;
          width: 30%;

          //option {
          //  background-color: #3d3d74;
          //}
        }
      }

      .amount-box {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        height: 25vh;
        width: 100%;

        input {
          outline: none;
          border: none;
          width: 25%;
          height: 20%;
          font-size: 20px;
          background-color: #3d3d74;
          color: white;
          padding-left: 5px;
        }

        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }

        input::placeholder {
          color: white;
        }
      }

      .buttons-box {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        height: 25vh;
        width: 100%;

        input {
          border: none;
          width: 25%;
          height: 50px;
          background-color: #3d3d74;
          color: white;
          font-size: 20px;
          cursor: pointer;

        }
        input:hover {
          background-color: #262650;
        }
      }
    }

    section:nth-child(1) {
      background: rgba(141, 141, 141, 0.18);
    }
  }
}